@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

QPushButton {
    border:none;
    background:transparent;
    padding:10px;
    transition:background .5s;
}

QPushButton:hover {
    background:rgba(0,0,0,.05);
}

QLineEdit {
    background: rgba(0,0,0,.05);
    padding:10px;
    border-radius:3px;
    box-shadow:0px 2px 5px rgba(0,0,0,.4);
    font-size:14px;
    color:#666;

}

QTabBar {
    background:transparent;
    border:none !important;
    border-bottom:2px solid #eee;

}

QTabBar::tab {
    padding:10px;
    border:none;
    background:transparent;
    padding-left:20px;
    padding-right:10px;
}

QTabBar::tab QPushButton {
    border:initial;
    background:initial;
    padding:initial;
    transition:background .5s;
}

QTabBar::tab:selected {
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    background:#fff;
    padding-left:10px;

}

QTabBar::tab:!selected {
    padding-left:10px;
    border-right:1px solid #ddd;
}

QWidget#toolbar {
    background:#fff;
    border-bottom:0px solid rgba(0,0,0,.1);
    border-top:none;
}

#BrowserWindow {
    border: 1px solid #888 !important;
    box-shadow:0px 0px 20px rgba(0,0,0,.2);
}

QWebEngineView, #TabView {
    height:900px;
}

QTabBar::tab {
    border: none !important;
    margin:0px;
    padding:10px;
    text-align:left !important;
    font-size:14px;
    font-weight:400;
    color:#666;
    width:200px;
    padding-left:0px;
}

#TabBar::close-button {

    border-image: url('resources/icons/ic_clear_black_24px.svg') 0 0 0 0 stretch stretch;
    height: 15px;
    width:15px;
    padding:10px;
    padding-left:-20px;


}

QWidget#TabControls {
    border-bottom:2px solid #eee;
    background:#fff;
    padding-bottom:15px;
}